body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 21, 21);
}
a{
    text-decoration: none;
    color: white;
}
.background-pic{
    background-image: url('../img/driverless.jpg'); 
    background-position: center;
    width: 100%;
    height: 35vw;
}
nav{
    width: 80%;
    padding: 0 10%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: white;
}
.nav-logo{
    width: auto;
    height: 100%;
}
.brand-name{
    width: 30%;
    font-size: 1vw;
}
.brand-name span{
    font-size:1.5vw;
}
.brand-name:hover{
    border-bottom: 2px solid red;
}
.nav-btn{
    width: 10%;
    font-size: 1.2vw;
}
.nav-btn:hover{
    border-bottom: 2px solid red;
}
.banner{
    width: 80%;
    padding: 0 10%;
    height: 30vw;;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 0 -6vw linear-gradient(black,white);
    text-align: right;
}
.banner span{
    font-size: 3.5vw;
    color: white;
    text-transform: capitalize;
}
.banner-description{
    font-size: 1vw;
    color:white;
}
.banner button{
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid black;
}
.banner button:hover{
    animation-name: fill;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.about{
    width: 80%;
    height: 30vw;
    margin: 2vw 10% 0 10%;
}
.about div{
    display:flex;
    flex-direction: row;
}
.heading{
    font-size: 2.5vw;
    text-align: center;
    color:rgb(36, 36, 58);
    margin-top: 5vw;
}
.about--intro{
    width: 50%;
    font-size: 1.3vw;
    color: white;
    padding-right: 0.5vw;
}
.about--vis{
    width: 50%;
    display: grid;
    grid-template-rows: 50% 50%;
    border-left: 2px solid white; 
}
.about--vis > div{
    height:100%;
    padding: 0 0.5vw 3vw 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    color: white;
    font-size: 1vw;
}
.overview{
    width: 80%;
    margin: 0 10%;
    height: 30vw;
    display: flex;
}
.overview a{
    width: 20%;
    margin: 0 2.5%;
    text-align: center;
    font-size: 3vw;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1{
    background-image: url('../img/activities.jpg');
    background-position: center;
}
.box2{
    background-image: url('../img/project.jpg');
    background-position: center;
}
.box3{
    background-image: url('../img/blog.jpg');
    background-position: center;
}
.box4{
    background-image: url('../img/gallery.jpg');
    background-position: center;
}
footer{
    width: 100%;
    height: 7vw;
    margin-top: 4vw;
    background-color: black;
    border-top: 5px solid black;
    color: white;
    display:flex;
}
.footer--links{
    width: 12.5%;
    color: white;
    font-size: 1.5vw;
}
.footer--links ul{
    list-style: none;
}
.contact{
    padding: 1% 0 0 0;
    width: 75%;
    text-align: center;
    font-size: 1vw;
}
.contact span{
    font-size: 1.5vw;
}
a img{
    width: 3vw;
    height: auto;
}
.footer--extra{
    width: 12.5%;
    height: 100%;
    color: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    justify-content: center;
    padding-right: 1%;
}
/* Keyframes */
@keyframes fill{
    0%{
        background-color: white;
    }
    100%{
        background-color: red;
    }
}
/* Media Queries */
@media only screen and (max-width: 992px){
    .banner{
        text-align: center;
    }
}